body {
    font-family: Arial, sans-serif;
    background: #f1f8e9;
    padding: 40px;
}

h2 {
    text-align: center;
    color: #33691e;
}

.form-container {
    max-width: 500px;
    margin: auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background: #558b2f;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #33691e;
}
